/* Set up */
@font-face {
    font-family: 'DIN 1451 Std';
    src:url('../lib/fonts/DINEngschriftStd.woff2') format('woff2'),
        url('../lib/fonts/DINEngschriftStd.woff') format('woff'),
        url('../lib/fonts/DIN\ 1451\ Std\ Engschrift.otf') format('opentype');
}

*{
    font-family: 'DIN 1451 Std';
    text-transform: uppercase;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

button, a, i{
    cursor: pointer;
}

button:focus, a:focus{
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}

/* Loader */
.loaderWrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.loaderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(70%) blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

/* Home */
.albumHero{
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Background */
.heroBack{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../lib/The-Strokes.jpg);
    background-position: center;
    background-size: cover;
    opacity: .5;
    filter: blur(1.5rem);
}

/* Nav buttons */
.navbar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLinks{
    display: inline-block;
    position: relative;
    color: white;
    transition: .5s ease;
    font-size: 2vw;
}

.navLinks:before{
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    height: 1em;
    font-size: 15px;
    transition: .35s;
}
.navOne:before{
    content: 'Retourner à'
}
.navTwo:before{
    content: 'Qui sont'
}
.navThree:before{
    content: 'Voir la'
}
.navFour:before{
    content: 'Visiter leur'
}

.navLinks:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.navLinks:hover{
    transform: scale(1.1)
}

.navLinks:hover:before{
    opacity: 1;
    top: -20px;
}

.navLinks:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.linksAnim{
    animation: linksAnim 3s ease;
}

@keyframes linksAnim {
    0%{
        opacity: 0;
    }
    60% {
        transform: translateY(-2vh);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0vh);
    }
}

/* Main */

.mainContainer{
    width: 100%;
    display: flex;
    height: 70%;
}

/* Left side */

/* Album & CD */

#albumsSelect{
    height: 40px;
    position: absolute;
    left: 15%;
    top: 25%;
}
#albumSelect option{
    color: black;
}

.animParent{
    width: 50%;
}

.album{
    position: absolute;
    height: 20vw;
    width: 20vw;
    top: 40%;
    left: 10%;
}

.album img{
    width: 100%;
    height: 100%;
}

.disque{
    position: absolute;
    height: 20vw;
    width: 20vw;
    top: 40%;
    left: 20%;
    border-radius: 50%;
}

/* animation select */

.disque1{
    border: 2px solid white;
}

.disque2{
    border: 2px solid red;
}

/* disque anim 1 */
.disqueAnim1{
    animation: disqueAnim1 .6s ease;
    animation-fill-mode: forwards;
}

@keyframes disqueAnim1 {
    0% {
        left: 20%;
    }
    60% {
        opacity: 1;
    }
    100% {
        left: 30%;
        opacity: 0;
    }
}

/* disque anim 2 */
.disqueAnim2{
    animation: disqueAnim2 .6s ease;
    animation-fill-mode: forwards;
}

@keyframes disqueAnim2 {
    0% {
        left: 30%;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 20%;
    }
}

/* album anim 1 */
.albumAnim1{
    animation: albumAnim1 .6s ease;
    animation-fill-mode: forwards;
}

@keyframes albumAnim1 {
    0% {
        left: 10%;
    }
    60% {
        opacity: 1;
    }
    100% {
        left: 4%;
        opacity: 0;
    }
}

/* album anim 2 */
.albumAnim2{
    animation: albumAnim2 .6s ease;
    animation-fill-mode: forwards;
}

@keyframes albumAnim2 {
    0% {
        left: 4%;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 10%;
    }
}

/* Right side */

/* Tracklist */

.tracklist{
    height: 100%;
    width: 50%;
    border: 1px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.track{
    border: 1px solid green;
    width: 45%;
    height: 16.5%;
    display: flex;
    color: white;
}
.track i:hover{
    cursor: pointer;
}

/* footer */

/* Liens réseaux */
.socialNav{
    position: absolute;
    width: 25%;
    height: 10%;
    top: 90%;
    left: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialNav div{
    height: 40px;
    width: 40px;
    position: relative;
}

.socialNav img{
    height: 100%;
    width: 100%;
}
.socialNav img:nth-child(1){
    filter: invert(100%);
    position: absolute;
    transition: .4s;
}

.newIcons{
    transition: .7s;
    opacity: 0;
    position:absolute;
}

/* hover */
.socialNav div:hover img:nth-child(1){
    opacity: 0;
}
.socialNav div:hover img:nth-child(2){
    opacity: 1;
    transform: scale(1.5)
}