/* Set up */
@font-face {
    font-family: 'DIN 1451 Std';
    src:url('../lib/fonts/DINEngschriftStd.woff2') format('woff2'),
        url('../lib/fonts/DINEngschriftStd.woff') format('woff'),
        url('../lib/fonts/DIN\ 1451\ Std\ Engschrift.otf') format('opentype');
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

button, a, i{
    cursor: pointer;
}

button:focus, a:focus{
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Loader */

.loaderWrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.loaderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Home */
.blogHero{
    width: 100vw;
    max-width:100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Background */
.heroBack{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../lib/The-Strokes.jpg);
    background-position: center;
    background-size: cover;
    opacity: .5;
    filter: blur(1.5rem);
}

.backAnim{
    animation: backAnim 1s ease;
}
@keyframes backAnim {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

/* Nav buttons */
.navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5vh;
}

.navLinks{
    display: inline-block;
    position: relative;
    color: white;
    transition: .5s ease;
    font-size: 2vw;
    font-family: 'DIN 1451 Std';
    text-transform: uppercase;
}

.navLinks:before{
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    height: 1em;
    width: 150%;
    font-size: 15px;
    transition: .35s;
    color: #E84E1B;
}
.navOne:before{
    content: 'Retourner à';
}
.navTwo:before{
    content: 'Découvrir leur';
}
.navThree:before{
    content: 'Voir la';
}
.navFour:before{
    content: 'Qui sont';
}

.navLinks:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.navLinks:hover{
    transform: scale(1.1);
    color: #E84E1B;
}

.navLinks:hover:before{
    opacity: 1;
    top: -20px;
}

.navLinks:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.linksAnim{
    animation: linksAnim 1.5s ease;
}

@keyframes linksAnim {
    0%{
        opacity: 0;
    }
    30% {
        transform: translateY(-2vh);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0vh);
    }
}

/* main */

.mainContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/* articles */

.article{
    padding-top: 7vh;
    width: 28%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", "sans-serif";
    justify-content: space-between;
    color: white;
}
.article > *{
    position: relative;
}
.article img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.article p{
    line-height: 1.5em;
}

.revealFirst{
    padding: 0;
}

.linksContainer{
    display: flex;
    justify-content: space-between;
}
.subContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subContainer p{
    text-align: center;
}

/* Reveal */

/* first articles */
.articlesAnim{
    animation: articlesAnim 1.5s ease; 
}
@keyframes articlesAnim {
    0%{
        opacity: 0;
    }
    30% {
        transform: translateY(7vh);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0vh);
    }
}
/* others */
.reveal{
    transform: translateY(7vh);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

.reveal.revealed{
    transform: translateY(0vh);
    opacity: 1;
}

/* footer */

/* Liens réseaux */
.socialNav{
    position: relative;
    width: 25%;
    left: 75%;
    display: flex;
    justify-content: space-around;
    padding: 60px 0 20px 0;
}

.socialNav div{
    height: 40px;
    width: 40px;
    position: relative;
}

.socialNav img{
    height: 100%;
    width: 100%;
}
.socialNav img:nth-child(1){
    filter: invert(100%);
    position: absolute;
    transition: .4s;
}

.newIcons{
    transition: .7s;
    opacity: 0;
    position:absolute;
}

/* hover */
.socialNav div:hover img:nth-child(1){
    opacity: 0;
}
.socialNav div:hover img:nth-child(2){
    opacity: 1;
    transform: scale(1.5)
}

@media screen and (max-width: 1440px){
    /* navLinks */
    .navLinks:before{
        font-size: 1.1vw;
    }
    /* main */
    .article{
        height: 80vh;
    }
}

@media screen and (max-width: 1024px){
    /* navLinks */
    .navLinks{
        font-size: 2.5vw;
    }
    .navLinks:before{
        font-size: 1.1vw;
    }
    /* main */
    .navbar{
        padding: 0;
    }
    .mainContainer{
        flex-direction: column;
        align-items: center;
    }
    .article{
        padding-bottom: 50px;
        width: 60%;
        height: 70vh;
        align-items: center;
    }
    .article p{
        font-size: 1.7vw;
    }
    .article h2{
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px){
    /* navLinks */
    .navLinks{
        font-size: 3.5vw;
    }
    .navLinks:before{
        font-size: 1.4vw;
    }
    /* main */
    .navbar{
        padding: 0;
    }
    .mainContainer{
        flex-direction: column;
        align-items: center;
    }
    .article{
        padding-bottom: 50px;
        width: 80%;
        align-items: center;
    }
    .article p{
        font-size: 2vw;
    }
    .article h2{
        font-size: 2.5vw;
    }
    /* footer */
    .socialNav{
        width: 40%;
        left: 60%;
        padding: 40px 0 20px 0;
    }
    .socialNav div{
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 425px){
    /* navLinks */
    .navLinks{
        font-size: 4.5vw;
    }
    .navLinks:before{
        content: ''
    }
    /* main */
    .article{
        width: 100%;
        padding-bottom: 0;
    }
    .article p{
        font-size: 3.5vw;
        text-align: center;
    }
    .article h2{
        font-size: 4vw;
    }
    .subContainer{
        width: 46%;
    }
    /* footer */
    .socialNav{
        width: 50%;
        left: 50%;
    }
    .socialNav div{
        height: 25px;
        width: 25px;
    }
}