/* Set up */
@font-face {
    font-family: 'DIN 1451 Std';
    src:url('../lib/fonts/DINEngschriftStd.woff2') format('woff2'),
        url('../lib/fonts/DINEngschriftStd.woff') format('woff'),
        url('../lib/fonts/DIN\ 1451\ Std\ Engschrift.otf') format('opentype');
}

* {-webkit-font-smoothing: antialiased;}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

button, a, i{
    cursor: pointer;
}

button:focus, a:focus{
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
}

/* Loader */
.loaderWrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.loaderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Home */
.strokesHero{
    width: 100vw;
    max-width:100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

/* Background */
.heroBack{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../lib/The-Strokes.jpg);
    background-position: center;
    background-size: cover;
    opacity: .5;
    filter: blur(1.5rem);
}

.backAnim{
    animation: backAnim 1s ease;
}
@keyframes backAnim {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

/* Nav buttons */
.navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLinks{
    display: inline-block;
    position: relative;
    color: white;
    transition: .5s ease;
    font-size: 2vw;
    font-family: 'DIN 1451 Std';
    text-transform: uppercase;
}

.navLinks:before{
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    display: inline-block;
    height: 1em;
    width: 150%;
    font-size: 15px;
    transition: .35s;
    color: #E84E1B;
}
.navOne:before{
    content: 'Retourner à';
}
.navTwo:before{
    content: 'Découvrir leur';
}
.navThree:before{
    content: 'Voir la';
}
.navFour:before{
    content: 'Visiter leur';
}

.navLinks:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.navLinks:hover{
    transform: scale(1.1);
    color: #E84E1B;
}

.navLinks:hover:before{
    opacity: 1;
    top: -20px;
}

.navLinks:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.linksAnim{
    animation: linksAnim 1.5s ease;
}

@keyframes linksAnim {
    0%{
        opacity: 0;
    }
    30% {
        transform: translateY(-2vh);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0vh);
    }
}

/* Main */

.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* articles */

.article{
    padding-bottom: 100px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    font-family: "DIN 1451 Std", "sans-serif";
    font-size: 1.5vw;
    letter-spacing: 1px;
    line-height: 4.5vh;
    color: white;
}
.article img{
    position: relative;
    width: 45%;
}
.article div{
    width: 45%;
    position: relative;
}
.article p{
    position: relative;
}

.first img, div{
    top: -5%;
}

.second div{
    top: 20%;
}
.second img{
    top: -35%;
}
.mobile{
    display: none;
}
.third img{
    top: 40%;
}

.fourth{
    width: 80%;
    font-size: 1.5vw;
    font-family: "DIN 1451 Std", "sans-serif";
    position: relative;
    color: #E84E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold{
    font-weight: 900;
    font-size: 1.6vw;
}

/* Reveal */

/* first articles */
.articleAnim{
    animation: articleAnim 1.5s ease; 
}
@keyframes articleAnim {
    0%{
        opacity: 0;
    }
    30% {
        transform: translateY(7vh);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0vh);
    }
}
/* others */
.reveal{
    transform: translateY(7vh);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

.reveal.revealed{
    transform: translateY(0vh);
    opacity: 1;
}

/* footer */

/* Liens réseaux */
.socialNav{
    position: relative;
    width: 25%;
    left: 75%;
    display: flex;
    justify-content: space-around;
    padding: 60px 0 20px 0;
}

.socialNav div{
    height: 40px;
    width: 40px;
    position: relative;
}

.socialNav img{
    height: 100%;
    width: 100%;
}
.socialNav img:nth-child(1){
    filter: invert(100%);
    position: absolute;
    transition: .4s;
}

.newIcons{
    transition: .7s;
    opacity: 0;
    position:absolute;
}

/* hover */
.socialNav div:hover img:nth-child(1){
    opacity: 0;
}
.socialNav div:hover img:nth-child(2){
    opacity: 1;
    transform: scale(1.5)
}

@media screen and (max-width: 1440px){
    /* navLinks */
    .navLinks:before{
        font-size: 1.1vw;
    }
}

@media screen and (max-width: 1024px){
    /* navLinks */
    .navLinks{
        font-size: 2.5vw;
    }
    .navLinks:before{
        font-size: 1.1vw;
    }
    /* main */
    .article{
        font-size: 2vw;
    }
    .third{
        padding: 0;
    }
    .fourth{
        font-size: 2.2vw;
    }
    .bold{
        font-size: 2.2vw;
    }
}

@media screen and (max-width: 768px){
    /* navLinks */
    .navLinks{
        font-size: 3.5vw;
    }
    .navLinks:before{
        font-size: 1.4vw;
    }
    /* main */
    .article{
        font-size: 2.5vw;
        display: flex;
        flex-direction: column;
    }
    .article div{
        width: 80%;
    }
    .article img{
        width: 80%;
    }
    .fourth{
        font-size: 2.6vw;
    }
    .bold{
        font-size: 2.6vw;
    }
    /* footer */
    .socialNav{
        width: 40%;
        left: 60%;
    }
    .socialNav div{
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 425px){
    /* navLinks */
    .navLinks{
        font-size: 4.5vw;;
    }
    .navLinks:before{
        content: ''
    }
    /* main */
    .article{
        font-size: 4.2vw;
        height: auto;
    }
    .article img{
        width: 90%;
        top: inherit;
        padding-bottom: 50px;
    }
    .third{
        padding-bottom: 50px;
    }
    .fourth{
        font-size: 4vw;
    }
    .mobile{
        display: inline-block;
    }
    .bold{
        font-size: 4.4vw;
    }
    /* footer */
    .socialNav{
        width: 50%;
        left: 50%;
    }
    .socialNav div{
        height: 25px;
        width: 25px;
    }
}